.titleContainer {
  max-width: 95%;
}
.container {
  max-width: 95%;
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 20px;

  --ifm-table-stripe-background: var(--ifm-table-background);
}


