.titleContainer {
  max-width: 95%;
}
.container {
  max-width: 95%;
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 4fr;
  column-gap: 20px;
}

.populationCell {
  display: grid;
  grid-template-columns: repeat(3, 25px);
  grid-template-rows: repeat(2, 25px);
  justify-content: center;
  align-items: center;
}
